<div class="container">
    <h2 class="text-center display-4 my-5">Séries</h2>

    <div class="row">
        <div class="col-md">
            <div class="card bg-light">
                <div class="card-header">Lista de Séries</div>
                <div class="card-body">

                </div>

            </div>
        </div>


        <div class="col-md">
            <div class="card bg-light mb-3">
                <div class="card-header">Texto</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Nome</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label for="">Categoria</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label for="">Temporadas</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label for="">Plataforma</label>
                        <select class="form-control" name="" id="">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Status</label>
                        <input class="form-control" type="text">
                    </div>
                    <button class="btn btn-success float-right">Salvar Série</button>
                </div>
            </div>
            <button class="btn btn-primary mb-2">Nova Série</button>
        </div>
    </div>
</div>