.imagem1 {
    border: 6px solid #e8a;
    width: 200px;
    margin-right: 10px;
}

.imagem2 {
    border: 6px solid #a8e;
    width: 200px;
    margin-right: 10px;
}

.imagem3 {
    border: 6px solid #567;
    width: 200px;
    margin-right: 10px;
}