<button (click)="exibirComponenente('exselect')">Select</button>
<button (click)="exibirComponenente('excheckbox')">Checkbox</button>
<button (click)="exibirComponenente('exradio')">Rádio Button</button>
<button (click)="exibirComponenente('exercicio3')">Exercício 3</button>
<button (click)="exibirComponenente('desafio')">Desafio</button>
<button (click)="exibirComponenente('ngif')">ngIf</button>
<button (click)="exibirComponenente('exerngif1')">NgIf/Ex.1</button>
<button (click)="exibirComponenente('exerngif2')">NgIf/Ex.2</button>
<button (click)="exibirComponenente('exerngif3')">NgIf/Ex.3</button>
<button (click)="exibirComponenente('exerngif4')">NgIf/Ex.4</button>
<button (click)="exibirComponenente('exngfor1')">NgFor/Exemplo 1</button>
<button (click)="exibirComponenente('exngfor2')">NgFor/Exemplo 2</button>
<button (click)="exibirComponenente('exercicio5')">NgFor/Exercício 5</button>
<button (click)="exibirComponenente('exercicio6')">NgFor/Exercício 6</button>
<button (click)="exibirComponenente('exercicio7')">NgFor/Exercício 7</button>
<button (click)="exibirComponenente('exercicio8')">NgFor/Exercício 8</button>


<app-ex-select *ngIf="componenteAtual === 'exselect'"></app-ex-select>
<app-ex-checkbox *ngIf="componenteAtual === 'excheckbox'"></app-ex-checkbox>
<app-ex-radiobtn *ngIf="componenteAtual === 'exradio'"></app-ex-radiobtn>
<app-exercicio3 *ngIf="componenteAtual === 'exercicio3'"></app-exercicio3>
<app-desafio *ngIf="componenteAtual === 'desafio'"></app-desafio>
<app-exemplongif *ngIf="componenteAtual === 'ngif'"></app-exemplongif>
<app-exercicio-ngif1 *ngIf="componenteAtual === 'exerngif1'"></app-exercicio-ngif1>
<app-exercicio-ngif2 *ngIf="componenteAtual === 'exerngif2'"></app-exercicio-ngif2>
<app-exercicio-ngif3 *ngIf="componenteAtual === 'exerngif3'"></app-exercicio-ngif3>
<app-exercicio-ngif4 *ngIf="componenteAtual === 'exerngif4'"></app-exercicio-ngif4>
<app-exngfor1 *ngIf="componenteAtual === 'exngfor1'"></app-exngfor1>
<app-exngfor2 *ngIf="componenteAtual === 'exngfor2'"></app-exngfor2>
<app-exercicio5 *ngIf="componenteAtual === 'exercicio5'"></app-exercicio5>
<app-exercicio6 *ngIf="componenteAtual === 'exercicio6'"></app-exercicio6>
<app-exercicio7 *ngIf="componenteAtual === 'exercicio7'"></app-exercicio7>
<app-exercicio8 *ngIf="componenteAtual === 'exercicio8'"></app-exercicio8>