<button (click)="abrirComponente('exemplo1')">Exemplo 1</button>
<button (click)="abrirComponente('exercicio1')">Exercício 1</button>
<button (click)="abrirComponente('exercicio2')">Exercício 2</button>
<button (click)="abrirComponente('exercicio3')">Exercício 3</button>
<button (click)="abrirComponente('sobre')">Sobre</button>


<div [ngSwitch]="menu">
    <app-exemplo1 *ngSwitchCase="'exemplo1'"></app-exemplo1>
    <app-exercicio1 *ngSwitchCase="'exercicio1'"></app-exercicio1>
    <app-exercicio2 *ngSwitchCase="'exercicio2'"></app-exercicio2>
    <app-exercicio3 *ngSwitchCase="'exercicio3'"></app-exercicio3>
    <app-sobre *ngSwitchCase="'sobre'"></app-sobre>
</div>